table {
	width: 100%;
	font-size: 1.4rem;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: #fff;
	padding: 1.4rem 2rem;
	margin: 0 auto;

	/* temp */
	border-radius: .6rem;
}
th, td {
	text-align: left;

	/* temp */
	padding: 16px;
	overflow: hidden;
}
table tr {
	border-bottom: 1px solid #eee;
}
thead tr {
	border-radius: .4rem;
}
thead th {
	width: 25%;
	font-weight: 600;

	/* temp */
	color: #555;
	
}
tbody tr td {
	font-size: 1.4rem;
}

table tr td:nth-child(1) {
	/* text-transform: uppercase; */
}
table tr td:nth-child(2) {
	color: #555;
}