.admin__dashboard {
    display: grid;
    grid-template-columns: 26.4rem 10fr;
}

#logo-container img {
    height: 6rem;
    margin: 0 0 0 2rem;
}
.admin__sidebar, .admin__main {
    height: 100vh;
}
.admin__sidebar {
    background-color: #fff;
    padding: 2rem 0 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar--list {
    margin-top: 2rem;
    padding: 3.2rem 1.4rem 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.sidebar--item {
    color: #555;
    font-weight: 700;
    font-size: 1.26rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    background-color: transparent;
    padding: 1.2rem;
    border-radius: .6rem;
    transition: all .35s ease-in;
    cursor: pointer;
}
.sidebar--item:hover, .sidebar--item.sidebar--active {
    box-shadow: inset 0 0 0 .16rem #ff0066;
}
.sidebar--item:hover .sidebar--icon, .sidebar--item:hover,
.sidebar--item.sidebar--active, .sidebar--active .sidebar--icon  {
    color: #ff0066;
}
.sidebar--icon {
    font-size: 2rem;
    color: #555;
    transition: all .35s ease-in;
}



.admin__nav {
    height: 8rem;
    width: 100%;
    border-bottom: 1px solid #ddd;

    display: flex;
    align-items: center;
    padding: 0 2.8rem;
}
.admin__nav span {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-left: auto;
}
.admin__nav .nav--icon {
    font-size: 2.4rem !important;
    color: #555;
    cursor: pointer;
    transition: all .35s;
}
.admin__nav .nav--icon:hover {
    color: #ff0066;
}


.admin__main {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    
    border-top-left-radius: 5.2rem;
    border-bottom-left-radius: 5.2rem;
}
.admin__container {
    padding: 3.2rem 3.4rem 2.4rem;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.admin__insight {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    width: 100%;
    border-radius: .68rem;
}
.insight {
    padding: 2rem;
    background-color: #fff !important;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.6rem;
    align-items: flex-end;
    transition: all .35s;
}
.insight:hover {
    transform: translateY(-.2rem) scale(1.03);
}


.insight--content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;
}
.insight--icon {
    font-size: 2.4rem;
    font-weight: 600;
    color: #008001;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #C6F6D5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insight--title {
    font-size: 1.2rem;
    font-weight: 600;
}
.insight--number {
    font-size: 2.4rem;
}



/* ALERTS */
.alert {
    padding: 2.4rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    gap: .8rem;
  
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000000;
    transition: all .35s ease-in;
  }
  .alert.alert--success {
    background-color: #C6F6D5;
    box-shadow: .2rem .2rem 2rem rgba(0, 128, 1, .25);
  }
  .alert.alert--error {
    background-color: #FED7D7;
    box-shadow: .2rem .2rem 2rem rgba(255, 0, 102, .25);
  }
  .alert--icon {
    font-size: 2.4rem;
  }
  .alert--success .alert--icon {
    color: #38A169;
  }
  .alert--error .alert--icon {
    color: #E53E3E;
  }
  .alert--text {
    font-size: 1.4rem;
    line-height: 1.2;
}
  
/*  */
.status p {
    display: inline-block;
    padding: .8rem 1.4rem;
    border-radius: .6rem;
}
.status--pending p {
    background-color: #ffe0cfe2;
    color: #ff9248;
}
.status--error p {
    background-color: #ffb09ce2;
    color: #ee2400;
}
.status--success p {
    color: #008001;
    background-color: #d7ecd1e2;
}


/*  */

.transaction-table,
.dashboard--table {
    background-color: #fff;
    overflow: hidden;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.dashboard--tabs {
    display: flex;
    align-items: center;
    background-color: #eee;
    gap: .4rem;
    padding: .4rem;
    border-radius: .6rem;
    margin: 1rem;
}
.dashboard--tabs.tabs--modal {
    padding: .8rem 1.6rem;
    justify-content: space-between;
}
.dashboard--tabs.tabs--modal .dashboard--tab {
    padding: 1.2rem 1.8rem;
}
.dashboard--tabs.tabs--modal .dashboard--tab:hover {
    background-color: #ddd;
    color: #fff;
}
.dashboard--tabs.tabs--modal .dashboard--tab.tab--active {
    background-color: #ff0066;
}
.dashboard--tab {
    padding: .8rem 1.2rem;
    background-color: #eee;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: .6rem;
    transition: all .35s ease-in;
    cursor: pointer;
}
.dashboard--tab:hover {
    color: #777;
}

.dashboard--tab.tab--active {
    background-color: #ff0066;
    color: #fff;
}
.dashboard--tabs.tabs--modal {
    width: 60%;
}


/*  */

.button--actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.button-action {
    border: none;
    padding: .8rem;
    border-radius: .6rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.button-action.action-approve {
    /* box-shadow: inset 0 0 0 .14rem #38A169;
    background-color: transparent;
    color: #777; */
    background-color: #38A169;
    color: #fff;
}
.button-action.action-decline {
    /* background-color: #ee2400;
    color: #fff; */
    box-shadow: inset 0 0 0 .14rem #ff0066;
    background-color: transparent;
    color: #ff0066;

}



.dashboard_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.6rem;
}
.heading__text {
    font-size: 2.8rem;
    font-weight: 600;
    color: #555;
}